# Built application
*.apk
*.ap_

# Dalvik VM
*.dex

# Java class
*.class

# Generated
bin/
gen/

# Proguard
proguard/
proguard-rules.pro

# Eclipse
.classpath
.project
.cproject
.settings

# Android Studio
local.properties
.idea
*.iws
*.iml
*.ipr

# Gradle
build
gradle
.gradle
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle

# OSX files
.DS_Store

# Windows thumbnail db
Thumbs.db

# Log Files
*.log
